* {
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(61, 61, 61); /* couleur de fond de base de la page web */
    font-family: 'Montserrat', sans-serif; /*Police de base de la page web*/
}


/* Mise en forme de la Top-bar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 14px 30px;
    margin-bottom: 20px;
}

.topbar p {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: 800;
}

/* Exclure les boutons du centrage */
.bouton a {
    background-color: #24696e;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

/* Ajouter une nouvelle règle pour centrer les boutons */
.bouton {
    text-align: center;
}

.bouton a:hover {
    background-color: #45a049; /* Changement de couleur au survol */
}

h2 {
    color: green; /* Couleur du texte en vert */
    display: inline-block; /* Pour que la bordure ne s'étende que sous le texte */
    border-bottom: 5px solid green; /* Barre de soulignement avec la même couleur que le texte */
    border-radius: 5px; /* Bords arrondis pour la barre de soulignement */
    margin-bottom: 10px;
}


/*ajout d'un espace entre ces trois catégories*/
.cour, .Partiel, .TP, .TD {
    margin-bottom: 100px; /* Ajoute un espace de 20 pixels en bas de chaque section */
    margin-left: 150px; /* Ajout d'un espace à gauche*/
}


/* Mise en forme d'un élément pdf */
li {
    list-style-type: none; /*suppression du bouton noir qui affiche une liste*/
}

li p {
    color: white; /* Couleur du texte en blanc */
}

.pdf {
    display: flex;
    align-items: center;
}

.pdf img {
    width: 50px; /* Largeur de l'image */
    height: auto; /* la hauteur reste proportionnelle à la largeur */
}

.pdf_info {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.bouttons_PDF a {
    margin-left: 10px;
    background-color: #24696e; /* Couleur de fond du bouton */
    border: none; /* Supprime la bordure */
    color: white; /* Couleur du texte */
    padding: 5px 10px; /* Espacement à l'intérieur du bouton */
    text-align: center; /* Centre le texte */
    text-decoration: none; /* Supprime les soulignements */
    display: inline-block; /* Affiche le bouton comme un élément en ligne */
    font-size: 12px; /* Taille de la police */
    font-weight: bold;
    border-radius: 10px; /* Angles arrondis */
}

.bouttons_PDF a:hover {
    background-color: #45a049; /* Changement de couleur au survol */
}
