
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(61, 61, 61); /* couleur de fond de base de la page web */
    font-family: 'Montserrat', sans-serif;
}


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 14px 30px;
}

.topbar p {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: 800;
}

.bouton a {
    margin-left: 10px;
    background-color: #24696e; /* Couleur de fond du bouton */
    border: none; /* Supprime la bordure */
    color: white; /* Couleur du texte */
    padding: 5px 10px; /* Espacement à l'intérieur du bouton */
    text-align: center; /* Centre le texte */
    text-decoration: none; /* Supprime les soulignements */
    display: inline-block; /* Affiche le bouton comme un élément en ligne */
    font-size: 12px; /* Taille de la police */
    font-weight: bold;
    border-radius: 10px; /* Angles arrondis */
}

.bouton a:hover {
    background-color: #45a049; /* Changement de couleur au survol */
}

.spotify-playlists {
    padding: 20px 40px;
}

.spotify-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

.spotify-playlists .list {
    display: flex;
    flex-wrap: nowrap; /* Évite le retour à la ligne des éléments */
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.spotify-playlists .list::-webkit-scrollbar {
    display: none; /* Masque la barre de défilement WebKit (Chrome, Safari) */
}

.spotify-playlists .list .item {
    flex: 0 0 160px; /* La taille fixe de chaque élément est de 160px */
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
    overflow: hidden;
    white-space: normal; /* Permettre le retour à la ligne du texte */
}

.spotify-playlists .list .item:hover {
    background-color: #4b4b4b;
}



.spotify-playlists .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}


.spotify-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}

.spotify-playlists .list .item a {
    text-decoration: none;
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;

}

.spotify-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}

